/*   LOGIN PAGE CSS STYLING   */

*
{
    margin: 0px;
    padding: 0px;

    box-sizing: border-box;
    text-transform: capitalize;

    overflow: hidden;
    all: none;
}

body
{
    display: flex;
    align-items: center;
    justify-content: center;
    
    background: linear-gradient(90deg, #C7C5F4, #776BCC);		

}

.container
{
	background: linear-gradient(90deg, #5D54A4, #7C78B8);

    position: relative;

    padding: 30px;

    width: 390px;
    height: 95vh;

    margin-top: 15px;

    border-radius: 2px;

    box-shadow: 4px 4px 15px rgb(0, 0, 0);

    border-top: 1px solid rgba(203, 199, 199, 0.501);
    border-left: 1px solid rgba(203, 199, 199, 0.266);
}

.form
{
    z-index: 1;
    position: relative;
    height: 100%;
}

.head
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.9rem;
    font-weight: 700;

    text-align: center;

    color: white;

    padding-bottom: 20%;

    text-shadow: 1px 1px 3px black;
}

.form-control
{
    padding-top: 13px;
    padding-bottom: 13px;
}

label
{
    font-size: 1.2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;

    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.464);
}

small
{
    display: none;
}

::placeholder
{
    color: rgba(255, 255, 255, 0.709);

    text-shadow: 1px 1px black;
}

.input_text
{

    border: none;
    background-color: transparent;
    resize: none;
    outline: none;

	border-bottom: 2px solid white;
	background: none;

	padding: 5px;
	padding-left: 24px;
    padding-top: 15px;

	font-weight: 700;

	width: 100%;
}

.input_text:hover
{
    border: none;
    background-color: transparent;
    border-bottom: 2px solid rgb(191, 153, 241);
}

.btn
{
    padding: 15px;
    padding-left: 30%;
    padding-right: 30%;

    border-radius: 30px;
    border-top: white;
    border-left: white;

    color: #754cd5;

    text-align: center;

    font-size: 1rem;
    font-weight: 700;

    box-shadow: 2px 2px 4px black;

    z-index: 10;
    position: relative;

    left: 13%;

    margin-top: 30px;
}

.btn:hover
{
    border: #776BCC;
}


.screen_background
{
    position: absolute;
}

.screen__background__shape
{
	transform: rotate(45deg);
	position: absolute;
}

.screen__background__shape1 
{
    height: 80vh;
    width: 90%;

    background: linear-gradient(270deg, #9287e7, #6a67b2);	

    position: absolute;

    top: 0px;
    right: 75%;

	
	border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
	height: 220px;
	width: 220px;
	background: linear-gradient(270deg, #8b7fe1, #9793dd);	

    top: 85%;
    left: 40%;

	border-radius: 32px;
}

.screen__background__shape3 {
height: 300px;
width: 100px;
background: linear-gradient(180deg, #9086e0c0, #a392e4);

top: 0px;
left: 80%;

border-radius: 32px;
}



/*   LOGIN PAGE MEDIA   */

@media only screen and (max-width: 400px) 

{

    .container
    {
        width: 100%;
        height: 100vh;

        margin-top: 0px;

        border-radius: 0px;

        border: none;
    }

    .head
    {
        font-size: 1.6rem;
        font-weight: 600;
    }

    .label
    {
        font-size: 1rem;
        font-weight: 350;
    }

    .screen_background_shape1
    {
        right: 100%;
        width: 100%;
    }

    .screen__background__shape3
    {
        height: 150px;
    }
    
}